/* general page elements. some override Twitter Bootstrap, and some are just utility functions such as .center and .bold */

body {
    margin:0 20px 0 20px; /* give the body some empty space to the sides, per modern vogue */
}

label {
    font-weight:normal;
    cursor:pointer;
}

a.link {
    text-decoration:underline;
}


/* navbars, such as the header and footer */

div.navbar {
    margin-bottom:0;
}

.footer_credits {
    font-size:8pt;
    color:black;
    padding:10px 10px 0 0;
}

.footer_credits a {
    color:white;
    padding:0 !important;
}

.footer_credits img {
    float:right;
    margin:0 0 0 5px;
}



/* the floating button bars that are common in the admin panel, but also in user settings */

.btn-group-rightfloater {
    float:right;
    margin:1em 1em 1em 0;
}


/* tables get a smaller font and crisper look-n-feel */
table th {
    font-size:8pt;
}
table td {
    font-size:8pt;
}



/* jQuery UI has a default of 100 for this, which puts it behind Leaflet controls (attribution) */

.ui-front {
    z-index: 10000;
}
