.place_description {
    min-height:3in;
}


#map_canvas {
    height:3in;
    width:3in;
    border:1px solid black;
}

#directions {
    display:none; /* will be revealed in code */
}

#directions table {
    border-collapse:collapse;
    width:3in;
    max-width:3in;
}
#directions td {
    border:1px solid #000000;
    padding:0 0.25em 0 0.25em;
}
#directions td.rhs {
    text-align:right;
    white-space:nowrap;
}
