/*** CUSTOM data-icon for a GPS icon ***/

.ui-icon-gps:after {
    background-image: url("images/gps.svg");
}
.ui-nosvg .ui-icon-gps:after {
    background-image: url("images/gps.png");
}

.ui-icon-map:after {
    background-image: url("images/map.svg");
}
.ui-nosvg .ui-icon-map:after {
    background-image: url("images/map.png");
}



/*** GENERAL PAGE ELEMENTS ***/

.center { text-align:center !important; }
.right  { text-align:right  !important; }
.left   { text-align:left   !important; }

hr {
    height:0.5em;
    background-color:#EDEDED;
    margin:2em 0 2em 0;
    border:0 none transparent;
}

a {
    text-decoration:none;
}


/*** SEARCH PAGE ***/

#page-search {
    margin: 0 5%;
    width: 90%;
}

#page-search .ui-btn {
    text-align: left;
}

/*** OUTSIDE AREA if the user is outside the supported area, these elements are visible ***/

.outside_area {
    display:none !important; /*gda disabled for testing??? */
}

#search-outsidearea {
    text-align:center;
    color:red;
}

#map-outsidearea {
    background-color:white;
    color:red;

    border-top-left-radius:5px;
    padding:5px 0 0 5px;
    border:1px solid black;

    font-size:8pt;

    display:inline-block;
    position:absolute;
    bottom:0;
    right:0;
    z-index:100;
}


/*** NAVBARS on the search results page, custom grid stuff here ***/

.search-results-navbar {
    
}
.search-results-navbar div {
    /* colors are overridden in the mobile/css dynamic stylesheet *(admin-defined) */
    background-color:black;
    border-right:1px solid white;

    height:2.5em;

    text-align:center;
    vertical-align:middle;
}
.search-results-navbar div:last-child {
    border-right:0 none transparent;
}
.search-results-navbar a {
    /* colors are defined in mobile/css dynamic stylesheet (admin-defined) */
    display:inline-block;
}
.search-results-navbar div:first-child {
    line-height:2.5em;
}

.search-results-navbar div.active {
    background-color: #0083CC;
}
.search-results-navbar div.active a {
}

/*** INFO PANEL on the bottom of the #map_canvas ***/
#map_infopanel {
    position:absolute; bottom:0; left:0;
    width:100%;

    display:none; /* becomes visible via the clickMarker_ family of functions */

    background-color:white;
    opacity:0.90;

    z-index:2000;

    padding-bottom:1.5em;
}

#map_infopanel > div {
    width:99%;
    margin:0 10px 0 10px;
}


/*** RESULT LISTINGS ***/

#page-search-results-places-list li {
    cursor:pointer;
}

#page-search-results-events-list li {
    cursor:pointer;
}

#page-search-results-places-list div.placeactivities_toggle {
    color:#6060FF;
    font-weight:bold;
}

#page-search-results-places-list div.placeactivities {
    display:none; /* there's a button to show it; see renderPlacesList() */
}


placeactivities


/*** JQUERY FIXES ***/

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    white-space:normal;
}
.ui-li-heading {
    font-weight:bold;
}
.ui-li-count {
    top:1.5em;
}

div.ui-header .ui-btn.ui-corner-all {
    border-radius:20px;
    padding-bottom: 0.5em;
}

#page-search-results-events-list a { /* JQM fix for this listview, since we want them to have icons, icons mean links, links mean larger, bold text, ... */
    font-weight:normal !important;
    font-size:10pt !important;
}
