/*** START by turning off the pesky box shadows and text shadows ***/
* {
    text-shadow:none !important;
    box-shadow:none !important;
}


/*** PAGEs with the trim class, lack some width in favor of a border (border defined in theme: css.phtml) ***/
div.page-withtrim[data-role="page"] {
    width:calc(100% - 14px);
    margin-right:7px;
    /* margin-left:7px; */
}

/*** CUSTOM data-icon for a GPS icon ***/

.ui-icon-gps:after {
    background-image: url("images/gps.svg");
}
.ui-nosvg .ui-icon-gps:after {
    background-image: url("images/gps.png");
}

.ui-icon-map:after {
    background-image: url("images/map.svg");
}
.ui-nosvg .ui-icon-map:after {
    background-image: url("images/map.png");
}



/*** GENERAL PAGE ELEMENTS ***/

.center { text-align:center !important; }
.right  { text-align:right  !important; }
.left   { text-align:left   !important; }

hr {
    height:0.5em;
    background-color:#EDEDED;
    margin:2em 0 2em 0;
    border:0 none transparent;
}

a {
    text-decoration:none;
}


/*** SEARCH PAGE ***/

#page-home {
    margin: 0 5%;
    width: 90%;
}

#page-home .ui-btn {
    text-align: center;
}

#page-home div.center img {
    max-width: 100%;
}

/*** OUTSIDE AREA if the user is outside the supported area, these elements are visible ***/

.outside_area {
    display:none;
}

.outside_area {
    text-align:center;
    color:red;
}

#map-outsidearea {
    background-color:white;
    color:red;

    border-top-left-radius:5px;
    padding:5px 0 0 5px;
    border:1px solid black;

    font-size:8pt;

    display:inline-block;
    position:absolute;
    bottom:0;
    right:0;
    z-index:100;
}


/*** NAVBARS there's a pair of them on the search results page, custom grid stuff here ***/

.search-results-navbar div {
    /* colors are overridden in the mobile/css dynamic stylesheet *(admin-defined) */
    text-align:center;
    vertical-align:middle;

    height: 2.5em;
    line-height: 2.5em;
}
.search-results-navbar div:last-child {
    border-right:0 none transparent;
}
.search-results-navbar a {
    /* colors are defined in mobile/css dynamic stylesheet (admin-defined) */
    display:inline-block;
}

.custom-navbar {
    text-align:right;
}


div.custom-navbar {
    text-align:right;
    line-height:2em;
}
div.custom-navbar a {
    font-size:13px;
}
div.custom-navbar a:last-of-type {
    margin-right:10px;
}
div.custom-navbar a[href="#page-home"] {
    /* probably not the best way to position Home on the top-left, but seems th'e only thing that works without breaking the search results second navbar */
    position: absolute;
    top: 2px;
    left: 10px;
}


/*** LEGEND PANEL on the map ***/

#panel-map-legend {
}

#panel-map-legend label {
}

#panel-map-legend label img {
    vertical-align:middle;
}


/*** INFO PANEL on the map ***/

#map_infopanel {
    position:absolute; bottom:0; left:0;
    width:100%;

    display:none; /* becomes visible via the clickMarker_ family of functions */

    background-color:white;
    opacity:0.90;

    z-index:2000;

    padding-bottom:1.5em;
}

#map_infopanel > div {
    width:99%;
    margin:0 10px 0 50px; /*TFA added more left margin*/
}


/*** RESULT LISTINGS ***/

#page-search-results-places-list li , #page-search-results-events-list li {
    cursor:pointer;
}

#page-search-results-places-list div.placeactivities_toggle {
    color:#6060FF;
    font-weight:bold;
}

#page-search-results-places-list div.placeactivities {
    display:none; /* there's a button to show it; see renderPlacesList() */
}

.search-result-details {
    margin-left: 4em;
}

#page-search-results-events-list i.fa,#page-search-results-places-list i.fa {
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;

    border-radius: 1em;     /* add a circle background so we can fake it to look like JQM's buttons */
    padding: 5px 4px 3px;

    color:white;
}

/*** CLUSTER MARKERS ***/
.leaflet-label {
    -moz-user-select: none;
    background: none repeat scroll 0 0 padding-box rgba(235, 235, 235, 0.81);
    border-radius: 10px;
    color: #111;
    display: block;
    font: bold 12px/20px "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 1px 6px;
    position: absolute;
    white-space: nowrap;
    z-index: 6;
}



/*** JQUERY FIXES ***/

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    white-space:normal;
}
.ui-li-heading {
    font-weight:bold;
}
.ui-li-count {
    top:1.5em;
}

div.ui-header .ui-btn.ui-corner-all {
    border-radius:20px;
    padding-bottom: 0.5em;
}

#page-search-results-events-list a { /* JQM fix for this listview, since we want them to have icons, icons mean links, links mean larger, bold text, ... */
    font-weight:normal !important;
    font-size:10pt !important;
}

/*** TFA additional jQuery Mobile Style overrides and other css tweaks ***/

/*opening page search button*/
button[name='search-go'], button[name='search-browse-map'] { 
    border-radius: 8px !important; 
    border-color: #999 !important; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px !important;
}
/*opening page selects*/
#select-4-button, a[data-role='button'] {border-color: #d3d3d3 !important;}

/* search results buttons border radius */
#page-search-results-places a[data-role='button'] {
    border-radius: 8px !important;
}

/*"more info" links on individual search result panel. this was getting configured by 
  $mobile_buttonbgcolor1 in css.phtml; the style here reverts to default TFA */
#map_infopanel a[data-field='url'] {
    color: #3388cc !important;
}

/*map side panel icon image padding*/
.ui-panel-inner > label > img {
    padding: 0 8px 0 2px;
}
/* override jquery ui label margin on these side panel icons labels */
.ui-panel-inner > label { margin: 0 !important;}

