/*** CUSTOM data-icon for a GPS icon ***/

.ui-icon-gps:after {
    background-image: url("images/gps.svg");
}
.ui-nosvg .ui-icon-gps:after {
    background-image: url("images/gps.png");
}

.ui-icon-map:after {
    background-image: url("images/map.svg");
}
.ui-nosvg .ui-icon-map:after {
    background-image: url("images/map.png");
}



/*** GENERAL PAGE ELEMENTS ***/

.center { text-align:center !important; }
.right  { text-align:right  !important; }
.left   { text-align:left   !important; }

hr {
    height:0.5em;
    background-color:#EDEDED;
    margin:2em 0 2em 0;
    border:0 none transparent;
}

a {
    text-decoration:none;
}


/*** JQUERY FIXES ***/

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    white-space:normal;
}
.ui-li-heading {
    font-weight:bold;
}
.ui-li-count {
    top:1.5em;
}

.ui-btn.ui-corner-all {
    border-radius:20px;
    padding-bottom: 0.5em;
}

#page-search-results-events-list a { /* JQM fix for this listview, since we want them to have icons, icons mean links, links mean larger, bold text, ... */
    font-weight:normal !important;
    font-size:10pt !important;
}
